@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e900";
}
.icon-messagemessage:before {
  content: "\e901";
}
.icon-clipboard:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-done:before {
  content: "\e904";
}
.icon-video:before {
  content: "\e913";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-plus:before {
  content: "\ea0a";
}
