html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

:root {
  --primary-light: #ffffff;
  --secondary-light: #f0f0f0;
  --primary-dark: #000000;
  --blue: #01a6e2;
  --lightblue: #4ec8f5;
  --green: #91cc3d;
  --darkgreen: #76a92d;
  --darkgray: #1d1d1d;
  --lightgray: #c3c3c3;
}

body {
  color: var(--primary-light);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

p strong {
  font-weight: 600;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: var(--darkgray);
}

.green-text {
  color: var(--green);
}

.darkgreen-text {
  color: var(--darkgreen);
}

.white-text {
  color: var(--primary-light);
}

html {
  background-color: var(--primary-dark);
}

body {
  max-width: 430px;
  margin: 0 auto;
}

main {
  background-color: var(--primary-dark);
  padding: 30px 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: var(--green);
  border: 2px solid var(--green);
  border-radius: 99px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-light);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.button:hover {
  color: var(--green);
  background-color: var(--primary-light);
}
.button:hover .icon__done {
  border-color: var(--green);
}
.button--fixed {
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
  max-width: 400px;
  position: fixed;
  z-index: 2;
  bottom: 10px;
  left: 15px;
  right: 15px;
  margin: 0 auto;
  -webkit-transform: translateY(calc(100% + 10px));
          transform: translateY(calc(100% + 10px));
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.button--fixed.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.icon__done {
  border: 1px solid;
  border-color: var(--primary-light);
  border-radius: 50%;
  padding: 4px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.icon__gift {
  color: var(--primary-light);
  background-color: var(--blue);
  border-radius: 50%;
  font-size: 40px;
  padding: 15px;
}
.icon__gift::before {
  font-size: 40px;
}

.slider-prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.popup {
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: var(--secondary-light);
  color: var(--darkgray);
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 999;
  margin: 0 auto;
  border: 1px solid var(--lightgray);
  border-radius: 12px;
  -webkit-transform: translateY(calc(-100% - 10px));
          transform: translateY(calc(-100% - 10px));
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.popup.success {
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 200, 83, 0.5);
          box-shadow: 0 0 15px 3px rgba(0, 200, 83, 0.5);
}
.popup.error {
  -webkit-box-shadow: 0 0 15px 3px rgba(255, 82, 82, 0.5);
          box-shadow: 0 0 15px 3px rgba(255, 82, 82, 0.5);
}
.popup.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 690px !important;
  overflow: hidden;
}
.slick-slide img {
  max-height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero {
  padding-top: 18px;
  padding-bottom: 180px;
  background-image: url(../images/background/hero-bg.webp);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: -50px bottom;
}
.hero__subtitle {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 16px;
}
.hero__title {
  font-size: 14px;
  text-align: center;
  line-height: 1;
}
.hero__time {
  text-align: center;
  margin-top: 40px;
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
}
.hero__time span {
  color: var(--blue);
}
.hero__lead {
  line-height: 1.5;
  margin: 26px auto 64px;
  text-align: center;
}
.hero__prop {
  color: var(--green);
  line-height: 1.5;
  max-width: 250px;
}
.hero__price {
  padding-top: 28px;
  padding-bottom: 42px;
  line-height: 1;
}
.hero__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 48px;
}
.hero__bonustext {
  font-size: 13px;
}
.hero__bonustext strong {
  display: block;
  font-weight: 600;
}

.price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.price__current {
  font-size: 35px;
}
.price__full {
  color: var(--blue);
  margin-top: 16px;
  font-size: 14px;
}
.price__full span {
  text-decoration: line-through;
}

.audience {
  background-color: var(--blue);
  padding: 55px 0 35px;
}
.audience__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  padding: 36px 15px 0;
}
.audience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.audience__image {
  width: 70px;
  height: 70px;
  border-radius: 99px;
  overflow: hidden;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.audience__image img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.audience__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background-color: var(--blue);
  opacity: 0.3;
  z-index: 2;
}

.audience-special {
  padding: 55px 0 190px;
  background-color: var(--primary-light);
  background-image: url(../images/background/grass-light.webp);
  background-size: 250%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}
.audience-special__text {
  color: var(--darkgray);
  font-weight: 600;
  text-align: center;
  padding: 36px 15px 0;
}
.audience-special__image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 36px auto 0;
}

.about-author {
  background-color: var(--blue);
  padding-top: 55px;
  padding-bottom: 40px;
}
.about-author__image {
  height: 400px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  margin-bottom: 24px;
}
.about-author__image img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.about-author__list {
  margin-top: 28px;
}
.about-author__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
}
.about-author__item:last-child {
  margin-bottom: 0;
}
.about-author__icon {
  display: block;
  background-color: var(--green);
  color: var(--blue);
  font-size: 20px;
}

.experience {
  background-color: var(--primary-light);
  padding-top: 55px;
  padding-bottom: 20px;
}
.experience__item {
  color: var(--darkgray);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 16px;
}
.experience__item:first-child {
  margin-top: 0;
}
.experience__item:first-child .experience__icon {
  visibility: hidden;
  color: transparent;
}
.experience__icon {
  color: var(--primary-light);
  background-color: var(--darkgray);
  border-radius: 99px;
  padding: 2px;
}

.reviews {
  background-color: var(--primary-light);
  padding-top: 24px;
  padding-bottom: 20px;
}
.reviews__container {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.reviews__slider {
  margin-top: 20px;
  padding-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}
.reviews__slider-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--darkgray);
  background-color: var(--darkgray);
  padding: 0 1px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.reviews__slider-btn .icon-arrow {
  color: var(--primary-light);
  font-size: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.reviews__slider-btn:hover {
  background-color: var(--primary-dark);
  border-color: black;
}
.reviews__slide img {
  width: 100%;
  height: auto;
}

.cta {
  padding: 60px 15px 75px;
  background-color: var(--blue);
  background-image: url(../images/background/blue-bg.webp);
  background-size: 110%;
  background-position-x: center;
  background-position-y: calc(100% + 145px);
  background-repeat: no-repeat;
}
.cta__title {
  font-size: 18px;
}
.cta__text {
  padding: 50px 10px;
  margin-top: 24px;
  border-top: 1px solid var(--lightblue);
  border-bottom: 1px solid var(--lightblue);
  text-align: center;
  font-weight: 600;
  line-height: 2;
}
.cta__icon {
  background-color: var(--blue);
  display: block;
  height: 50px;
  width: 70px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cta__icon * {
  fill: var(--green);
}
.cta__price {
  text-align: center;
}

.program {
  padding: 35px 0 0;
  background-color: var(--primary-light);
}
.program__head {
  padding-left: 15px;
  padding-right: 15px;
}
.program__info {
  margin: 24px auto;
}
.program__module {
  padding: 30px 15px 60px;
}
.program__module--dark {
  background-color: var(--secondary-light);
}
.program__number {
  font-weight: 600;
  color: var(--darkgreen);
  margin-bottom: 32px;
}
.program__title {
  color: var(--darkgray);
  font-size: 22px;
  font-weight: 600;
}
.program__text {
  color: var(--darkgray);
}
.program__text strong {
  font-weight: 600;
}
.program__list {
  padding: 36px 0 12px;
}
.program__item {
  color: var(--darkgray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
  margin-bottom: 16px;
}
.program__item:last-child {
  margin-bottom: 0;
}
.program__icon {
  color: var(--primary-light);
  background-color: var(--darkgreen);
  border-radius: 50%;
  padding: 2px;
}

.format {
  background-color: var(--blue);
  padding-top: 50px;
  padding-bottom: 30px;
}
.format__list {
  margin: 24px auto;
}
.format__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
  color: var(--darkgray);
  margin-bottom: 16px;
  padding-left: 32px;
  position: relative;
}
.format__icon {
  font-size: 20px;
  color: var(--green);
  position: absolute;
  left: 0;
}
.format__text {
  border-top: 1px solid var(--lightblue);
  border-bottom: 1px solid var(--lightblue);
  padding: 50px 10px;
  text-align: center;
}

.guarantee {
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: var(--darkgray);
}
.guarantee__text {
  padding: 24px 0 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.guarantee__icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.guarantee__icon * {
  fill: var(--primary-light);
}

.offer {
  background-color: var(--primary-light);
  padding-top: 30px;
  padding-bottom: 30px;
}
.offer__title {
  font-size: 18px;
  margin-bottom: 32px;
}
.offer__text {
  color: var(--primary-dark);
  text-align: center;
  margin-bottom: 36px;
  font-size: 18px;
}

.ps {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: var(--blue);
  background-image: url(../images/background/blue-bg.webp);
  background-size: 110%;
  background-position-x: center;
  background-position-y: calc(100% + 75px);
  background-repeat: no-repeat;
}
.ps__title {
  font-size: 18px;
}
.ps__text {
  font-size: 18px;
  margin-top: 24px;
}
.ps__text--small {
  font-size: 16px;
}
.ps__list {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.ps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
}
.ps__icon {
  color: var(--blue);
  background-color: var(--primary-light);
  border-radius: 99px;
  padding: 2px;
}

.faq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-light);
}
.faq__title {
  color: var(--primary-dark);
  text-align: left;
}

.accordion {
  color: var(--primary-dark);
}
.accordion__item {
  padding: 20px 0 0;
  border-bottom: 1px solid var(--lightgray);
  overflow: hidden;
}
.accordion__header {
  text-align: left;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
}
.accordion__header.active .accordion__icon::before {
  -webkit-transform: translateX(50%) scale(0);
          transform: translateX(50%) scale(0);
}
.accordion__icon {
  display: block;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.accordion__icon::before, .accordion__icon::after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--lightgray);
  position: absolute;
  right: 50%;
}
.accordion__icon::before {
  -webkit-transform: translateX(50%) scale(1);
          transform: translateX(50%) scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion__icon::after {
  -webkit-transform: rotate(90deg) translateY(-1px);
          transform: rotate(90deg) translateY(-1px);
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion__content.open {
  padding-bottom: 20px;
}

.footer {
  padding: 30px 15px 90px;
  background-color: var(--darkgray);
}
.footer__disclaimer {
  padding: 36px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  font-weight: 300;
}
.footer__rights {
  color: #ff779f;
  text-align: right;
  font-size: 10px;
  padding: 10px 20px;
}

.contacts {
  color: var(--blue);
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
.contacts__link {
  color: var(--blue);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: block;
}
.contacts__link:hover {
  color: var(--primary-light);
}
.contacts__link--small {
  font-size: 10px;
  margin-bottom: 16px;
}
.contacts__link--string {
  display: inline;
}
.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.modal {
  color: var(--darkgray);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.opened {
  visibility: visible;
  opacity: 1;
}
.modal__underlay {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: var(--primary-dark);
  opacity: 0.8;
  z-index: 98;
}
.modal__body {
  max-height: 90vh;
  overflow-y: auto;
  max-width: 370px;
  border-radius: 12px;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px;
  background-color: var(--primary-light);
}
.modal__close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.modal__close::after, .modal__close::before {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  background-color: var(--lightgray);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.modal__close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal__close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 48px;
}
.modal__title span {
  display: block;
}
.modal__subtitle {
  text-align: center;
  margin: 36px auto;
}
.modal__price {
  font-size: 12px;
  color: var(--darkgray);
  text-align: center;
}
.modal__price-current {
  font-size: 16px;
  color: #d65d7c;
  font-weight: 600;
  margin-right: 4px;
}
.modal__price-old strong {
  text-decoration: line-through;
  font-weight: 400;
}
.modal__text {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
}
.modal__text strong {
  display: block;
}

.form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 12px auto 32px;
  gap: 12px;
}
.form__input {
  padding: 12px 30px;
  background-color: rgba(37, 39, 88, 0.1215686275);
  border-radius: 99px;
  outline: 1px;
  border: 1px solid rgba(37, 39, 88, 0.1215686275);
  color: var(--darkgray);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:focus {
  border-color: var(--darkgray);
}
.form__button {
  width: 100%;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  padding-bottom: 48px;
}
.countdown__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.3333333333% - 24px);
          flex: 1 1 calc(33.3333333333% - 24px);
  padding: 12px;
  aspect-ratio: 1/1;
  border: 1px solid var(--darkgreen);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.countdown__content {
  font-size: 36px;
  font-weight: 600;
}
.countdown__info {
  font-size: 18px;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */