@import "./base/reset";
@import "./base/variables";

@import "./base/typography";
@import "./base/base";

@import "./layout/hero";
@import "./layout/audience";
@import "./layout/about-author";
@import "./layout/reviews";
@import "./layout/cta";
@import "./layout/program";
@import "./layout/format";
@import "./layout/guarantee";
@import "./layout/offer";
@import "./layout/ps";
@import "./layout/faq";
@import "./layout/footer";
