.faq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-light);

  &__title {
    color: var(--primary-dark);
    text-align: left;
  }
}

.accordion {
  color: var(--primary-dark);

  &__item {
    padding: 20px 0 0;
    border-bottom: 1px solid var(--lightgray);
    overflow: hidden;
  }

  &__header {
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;

    &.active .accordion__icon::before {
      transform: translateX(50%) scale(0);
    }
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 2px;
      background-color: var(--lightgray);
      position: absolute;
      right: 50%;
    }

    &::before {
      transform: translateX(50%) scale(1);
      transition: all 0.3s;
    }

    &::after {
      transform: rotate(90deg) translateY(-1px);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: all 0.4s ease;

    &.open {
      padding-bottom: 20px;
    }
  }
}
