.guarantee {
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: var(--darkgray);

  &__text {
    padding: 24px 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;

    & * {
      fill: var(--primary-light);
    }
  }
}
