.offer {
  background-color: var(--primary-light);
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    font-size: 18px;
    margin-bottom: 32px;
  }

  &__text {
    color: var(--primary-dark);
    text-align: center;
    margin-bottom: 36px;
    font-size: 18px;
  }
}
