html {
  background-color: var(--primary-dark);
}

body {
  max-width: 430px;
  margin: 0 auto;
}

main {
  background-color: var(--primary-dark);
  padding: 30px 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: var(--green);
  border: 2px solid var(--green);
  border-radius: 99px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-light);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--green);
    background-color: var(--primary-light);

    & .icon__done {
      border-color: var(--green);
    }
  }

  &--fixed {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    max-width: 400px;
    position: fixed;
    z-index: 2;
    bottom: 10px;
    left: 15px;
    right: 15px;
    margin: 0 auto;
    transform: translateY(calc(100% + 10px));
    transition: transform 0.5s;

    &.visible {
      transform: translateY(0);
    }
  }
}

.icon {
  &__done {
    border: 1px solid;
    border-color: var(--primary-light);
    border-radius: 50%;
    padding: 4px;
    transition: border-color 0.3s;
  }

  &__gift {
    color: var(--primary-light);
    background-color: var(--blue);
    border-radius: 50%;
    font-size: 40px;
    padding: 15px;

    &::before {
      font-size: 40px;
    }
  }
}

.slider-prev {
  transform: rotate(-180deg);
}

.popup {
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: var(--secondary-light);
  color: var(--darkgray);
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 999;
  margin: 0 auto;
  border: 1px solid var(--lightgray);
  border-radius: 12px;
  transform: translateY(calc(-100% - 10px));
  transition: transform 0.5s;

  &.success {
    box-shadow: 0 0 15px 3px rgba(0, 200, 83, 0.5);
  }

  &.error {
    box-shadow: 0 0 15px 3px rgba(255, 82, 82, 0.5);
  }

  &.active {
    transform: translateY(0);
  }
}

.slick-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 690px !important;
  overflow: hidden;

  & img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
  }
}
