:root {
  --primary-light: #ffffff;
  --secondary-light: #f0f0f0;
  --primary-dark: #000000;
  --blue: #01a6e2;
  --lightblue: #4ec8f5;
  --green: #91cc3d;
  --darkgreen: #76a92d;
  --darkgray: #1d1d1d;
}
